.services{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 20px;
    padding: 10px 20px;
}
.services_right_content{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--global-color-primary);
    text-align: center;
}
.services_list{
    list-style: none;
}
@media only screen and (max-width: 768px){
  .services{
    grid-template-columns: 1fr;
  }
}