.nav_container{
   display: flex;
   justify-content: space-between;
}
.nav_items > *{
    font-size: var(--global-font-size-nav-items);
    font-weight: 500;
}
.brand_logo{
    display:  grid;
    grid-template-columns: 1fr;
    place-items: center;

}
.brand_logo >div{
    font-size: x-small;
    color: var(--global-color-primary);
}